name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'gradle'

      - name: Cook Variables from gradle.properties
        run: |
          name=$(grep '^extName=' gradle.properties | cut -d'=' -f2)
          echo "NAME=$name Extension" >> $GITHUB_ENV
          id=$(grep '^extId=' gradle.properties | cut -d'=' -f2)
          echo "TAG=$id" >> $GITHUB_ENV

      - name: Make Environment
        run: |
          version="${GITHUB_REF_NAME}"
          echo "VERSION=$version" >> $GITHUB_ENV
          echo -e "## ${{ env.NAME }}\nRelease $version" > commit.txt
          echo "APP_PATH=app/build/${{ env.TAG }}-$version.eapk" >> $GITHUB_ENV
          echo "${{ secrets.KEYSTORE_B64 }}" | base64 -d > $GITHUB_WORKSPACE/signing-key.jks
          chmod +x ./gradlew

      - name: Build with Gradle
        run: |
          ./gradlew assembleDebug \
          -Pandroid.injected.signing.store.file=$GITHUB_WORKSPACE/signing-key.jks \
          -Pandroid.injected.signing.store.password=${{ secrets.PASSWORD }} \
          -Pandroid.injected.signing.key.alias=${{ secrets.KEY_ALIAS }} \
          -Pandroid.injected.signing.key.password=${{ secrets.PASSWORD }}

          cp -v app/build/outputs/apk/debug/app-debug.apk ${{ env.APP_PATH }}

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.APP_PATH }}

      - name: Upload APK to existing Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.APP_PATH }}
